.districts-panel {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  min-width: 20em;
  background-color: #fff;
  opacity: 0.9;
  z-index: 100;
  padding: 0.5em;
  overflow-y: auto;
  border-left: 2px solid #bbb;
}
