@import '../../theme.scss';

.districts-panel {
  background-color: #fff;
  opacity: 0.95;
  z-index: 110;
  overflow: auto;
  border: solid #777;
  box-sizing: border-box;
  position: absolute;
  padding-bottom: 1.5em;

  right: 0;
  bottom: 0;
  /* Landscape orientation */
  top: 0;
  width: 20%;
  min-width: 20em;
  border-width: 0 0 0 1px;
  box-shadow:
    -2px 6px 6px 1px rgba(0, 0, 0, 0.14),
    -2px 3px 8px 3px rgba(0, 0, 0, 0.12);

  .content {
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
  }
  @media (orientation: portrait) {
    left: 0;
    min-width: auto;
    width: 100%;
    top: auto;
    border-width: 1px 0 0 0;
    box-shadow:
      0px -2px 6px 1px rgba(0, 0, 0, 0.14),
      0px -3px 8px 3px rgba(0, 0, 0, 0.12);

    .scroll-area > div:first-child {
      position: relative!important;
    }
    .content {
      flex-direction: row;
    }
  }

  h3 {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    color: darken( $primary-color, 10% );
  }

  .legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    margin-top: -6px;
    label {
      display: inline-block;
      flex: 1 1;
      min-width: 100px;
      margin: 0 0.25em;
      line-height: 1.5em;
      padding-left: 2em;
      position: relative;
      font-size: 0.875em;
      &:before {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        content: "";
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
        margin: 0 0.25em;
        border: 4px solid currentColor;
        box-sizing: border-box;
      }
    }
  }
  .close-btn {
    right: 0.6em;
    background-color: #fff;
    border-radius: 4px;
  }
  .date {
    margin: 0.15em 0.75em;
    text-align: right;
    opacity: 0.75;
    font-size: 0.875em;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
