@import '../../theme.scss';

.ci-template-backdrop {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center;

  background-color: rgba(150, 150, 150, 1);
  background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  background: transparent;
}

.ci-template-buttons {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
    pointer-events: all;

  button {
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: block;
    margin: 10px;
    border-radius: 50%;
    background: white;
    border: 2px solid navy;
  }
}

.ci-template {
    pointer-events: all;
    position: relative;
    background: white;
    border: 6px solid rgba(255, 255, 255, .28);

    .districts-panel {
      transform: scale(0.5);
      height: 170%;
      top: -230px;
      right: -70px;
      border-width: 2px;
      box-shadow: none;

      .close-btn {
        display: none;
      }
    }
}

#templateMap {
  width: 100%;
  height: 100%;

  .ol-zoom {
    display: none;
  }

}
