html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Helvetica';
}
:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

@media (max-height: 800px) {
  html {
    font-size: 0.8335em;
  }
}