.ci-switcher {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background-color: transparent;
  z-index: 1;
  margin-right: 10px;

  button {
    cursor: pointer;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #002f60;
    box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 15px 3px rgba(0, 0, 0, 0.12);
  }
}
