@import '../../theme.scss';

.layers-list {
  min-width: 200px;
  padding-top: 0.5rem;
  h3 {
    display: none;
    margin: 0.25rem 0.5rem;
    color: #aaa;
    @media (max-height: 640px) {
      display: block;
    }
  }
  .list-item {
    padding: 0 0.75rem;
    &:hover {
      background-color: #fbfbfb;
    }
    &:not(:last-child) > * {
      border-bottom: 1px solid #ddd;
    }
  }
  .list-item-checkbox {
    min-height: 2.85rem;
    line-height: 1.35rem;
    display: flex;
/*    align-items: flex-end;
    padding-bottom: 2px;*/
    padding: 0;
    align-items: center;
    color: #444;
    cursor: pointer;
    box-sizing: border-box;
    .rc-checkbox {
      margin-right: 0.5rem;
      .rc-checkbox-inner {
        width: 1.125rem;
        height: 1.125rem;
        transition: none;
        &:after {
          width: 0.4rem;
          height: 0.75rem;
          left: 0.3rem;
          animation: none;
        }
      }

      &.rc-checkbox-checked {
        .rc-checkbox-inner {
          background-color: $secondary-color;
          border-color: $secondary-color;
        }
      }
      &:hover .rc-checkbox-inner,
      .rc-checkbox-input:focus + .rc-checkbox-inner {
        border-color: $secondary-color;
      }
    }
    .icon {
      fill: $primary-color;
      margin-right: 0.5rem;
      min-width: 1.5rem;
      min-height: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
    .title {
      max-width: 18rem;
    }
  }
}
