@import '../../theme.scss';

.contact-panel {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background: $menu-background;
  border-top: 1px solid #aaa;
  font-size: 1em;
  height: 3em;
/*  box-shadow:
    -2px 0px 6px 1px rgba(0, 0, 0, 0.14),
    -2px 0px 8px 3px rgba(0, 0, 0, 0.12);*/

  button {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    opacity: 0.85;
    &:hover {
      opacity: 1;
    }
    &.contact {
      right: 4.5em;
      width: 5em;
      .icon {
        fill: $primary-color;
        height: 2.5em;
        width: 3.25em;
      }
    }
    &.about {
      background: none;
      position: absolute;
      left: 1em;
      bottom: 0.5em;

      img {
        height: 8em;
      }
    }
  }
}

.contacts-panel {
  position: absolute;
  background-color: white;
  border-radius: 1em;
  min-width: 20em;
  min-height: 10em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  box-sizing: border-box;
  box-shadow:
    0px 2px 10px 1px rgba(0, 0, 0, 0.18),
    0px 3px 12px 3px rgba(0, 0, 0, 0.14);

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: $secondary-color;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
  } 
  table {
    td {
      vertical-align: top;
      padding: 0.25em 0;
      &.label {
        font-weight: 500;
        padding-right: 1em;
        color: $primary-color;
      }
    }
  }
}

ul.lang {
  position: absolute;
  right: 0.75em;
  padding: 0;
  li {
    display: inline-block;
    padding: 0 0.35em;
    cursor: pointer;
    color: #555;

    &.active {
      color: $secondary-color;
      cursor: default;
    }
  }
}