@import '../../theme.scss';

.layers-list {
  min-width: 200px;
  padding-top: 0.5em;
  h3 {
    display: none;
    margin: 0.25em 0.5em;
    color: #aaa;
  }
  .category-visibility {
    text-align: left;
    margin: 0.25em 0.75em;
    button {
      border: 1px solid #ccc;
      border-radius: 2px;
      background-color: #f0f0f0;
      padding: 0.25em 0.5em;
    }
  }
  .list-item {
    padding: 0 0.75em;
    &:hover {
      background-color: #fbfbfb;
    }
    &:not(:last-child) > * {
      border-bottom: 1px solid #ddd;
    }
    .icon {
      margin-right: 0.5em;
      min-width: 1.5em;
      min-height: 1.5em;
      width: 1.7em;
      height: 1.7em;
      &.more {
        fill: #ccc;
      }
    }
  }
  .list-item-checkbox {
    height: 2.85em;
    line-height: 1.35em;
    display: flex;
/*    align-items: flex-end;
    padding-bottom: 2px;*/
    padding: 0;
    align-items: center;
    color: #444;
    cursor: pointer;
    box-sizing: border-box;
    .rc-checkbox {
      margin-right: 0.5em;
      .rc-checkbox-inner {
        width: 1.125em;
        height: 1.125em;
        transition: none;
        &:after {
          width: 0.4em;
          height: 0.75em;
          left: 0.3em;
          animation: none;
        }
      }

      &.rc-checkbox-checked {
        .rc-checkbox-inner {
          background-color: $secondary-color;
          border-color: $secondary-color;
        }
      }
      &:hover .rc-checkbox-inner,
      .rc-checkbox-input:focus + .rc-checkbox-inner {
        border-color: $secondary-color;
      }
    }
    .title {
      max-width: 18em;
    }
  }
  @media (max-height: 640px) {
    h3 {
      display: block;
    }
    .category-visibility button {
      position: absolute;
      right: 1em;
      top: 0.75em;
    }
  }
}

.legend-list {
  padding-left: 2em;
  margin-bottom: 0.25em;
  .item {
    min-height: 1.5em;
    display: flex;
    align-items: flex-start;
    line-height: 1.25em;
    span {
      color: gray;
      margin-top: 0.25em;
    }
    .icon {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
}