@import '../../theme.scss';

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  .ol-zoom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: transparent;
    button {
      display: block;
      background-color: #fff;
      border: 2px solid $primary-color;
      color: $primary-color;
      margin: 5px;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      line-height: 36px;
      font-size: 24px;
      font-family: 'arial';
      vertical-align:middle;
      cursor: pointer;
      box-shadow:
        0px 4px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 12px 1px rgba(0, 0, 0, 0.14),
        0px 3px 15px 3px rgba(0, 0, 0, 0.12);
    }
    @media (max-height: 640px), (max-width: 640px) {
      display: none;
    }
  }
  .ol-attribution {
    position: absolute;
    bottom: 3.25em;
    right: 0.5em;
    background-color: transparent;
    @media (max-height: 400px) {
      bottom: 0.25em;
    }
    ul {
      font-size: 0.875em;
    }
    a[href="https://openlayers.org/"] {
      display: none;
    }
  }
}